{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
  <title>Doctor | Prescription Form</title>
</head>
<body>
  
  <div class="row">
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
  <div class="container" >
    
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <h1 style="text-align:center; color: aliceblue; background-color:black"> Doctor Prescription Form</h1>
      
      <div class="form-group">
        <label for="username">Aadhar No</label>
        <input type="text" class="form-control" name="aadhaarno" required>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="fname" class="form-label"> Name</label>
            <input type="text" class="form-control" id="name" name="name" ria-describedby="First name">
      
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" ria-describedby="last name">
      
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
            <label for="symptoms" class="form-label">symptoms</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="symptoms1">
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="symptoms" class="form-label">symptoms</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="symptoms2">
          </div>
        </div>

      </div>



      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="symptoms" class="form-label">symptoms</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="symptoms3">
      
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="symptoms" class="form-label">symptoms</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="symptoms4">
      
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="Disease" class="form-label">Disease</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="Disease">
      
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="Medicine" class="form-label">Medicine and Precautions</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="Medicine">
      
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" ria-describedby="date">
      
          </div>
        </div>
        <div class="col-6">
          
            <div class="mb-3">
                <label for="dphone" class="form-label">Hospital NO:</label>
                <input type="text" class="form-control" id="hphone" name="hphone" ria-describedby="hphone">
          
              </div>

      </div>
    


<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input type="file" class="form-control" name="file">
    {% comment %} <button type="submit">Upload</button> {% endcomment %}
</div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    
    </form>
  </div>
</div>
</div>  
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    
</script>
 
</body>
</html>





















